* {
  margin: 0;
  padding: 0;
}
:root {
  font-size: 62.5%;
}
body {
  height: 100vh;
  color: white;
}
body,
input,
button,
textarea {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  line-height: 1;

  /* outra maneira de escrever
    font: 400 1.8rem/1 'Nunito', sans-serif;
    */
}
